@{
  ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
  </div>*@
<div class="form-group">
  <input type='button' value='Create' id='myButton' onClick='redirectOnClick()' />
  <script>
    function redirectOnClick() {
      document.location = 'Product/Add';
    }
  </script>
</div>
<div>
 


  @*<h3>Product Page</h3>
    <table border="1" class="table table-bordered table-responsive">
      <thead>
        <tr class="btn-primary">
          <th>ProductName</th>
          <th>ProductImage</th>
          <th>ProductQuantity</th>
          <th>ProductPrice</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
        <tr>
          <td>@item.ProductName</td>
          <td>
            <img src='@item.ProductImage' style="max-width:100px; max-height:100px;" />
          </td>
          <td>@item.ProductQuantity</td>
          <td>@item.ProductPrice</td>
          <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
          </td>
        </tr>

        }
      </tbody>
    </table>*@
  @*<div class="row">
    <div class="col-md-4">
      <h2>Getting started</h2>
      <p>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and gives you full control over markup
        for enjoyable, agile development.
      </p>
      <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Get more libraries</h2>
      <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
      <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Web Hosting</h2>
      <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
      <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
  @*</div>*@
